img {width: 450px;}
p{color:blue;}
h1{color:skyblue;}
h2{color:red;}
h4{color:green;}
li{color:pink;}
h3{color:Orange;}
h5{color:purple;}
background{color: pink;}
body{background: url("https://media.wired.com/photos/59094a0ad8c8646f38eef2ae/master/pass/rainbow-sq.jpg");}